<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>HOME</h1>
    <br />
    <%= link_to "About", about_path %>
    <br />
    <%= link_to image_tag('cake.jpg'), about_path %>
  </body>
</html>
